<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quiz_results.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <!-- Top nav bar (fixed) -->

  <%- include('partials/_header'); %>

    <!-- Page-specific (main) content here -->

    <main class="quiz-results">
      <header>
        <h1 class="quiz-results-name"><%= quiz_name %> results</h1>
      </header>
      <section class="result-info">
        <h2 class="score">Final Score: <%= score %>/<%= number_of_questions %></h2>
        <a class="try-again-link" type="button" href="/api/quizzes/<%= quiz_id %>">Try Quiz Again</a>
      <div class="share-results">
        <p>Share your quiz results with your friends with the following link:</p>
        <a href="/api/results/<%= id %>">quizapp.com/attempts/<%= id %></a>
      </div>
    </section>
  </main>
</body>

</html>
